<h1><%= @recipe_name %></h1>

<h3>Description:</h3>
<li><%= @recipe_desription %></li>

<h3>Ingredients:</h3>
<% @recipe_info.each do |i| %>
  <li><%= i['ingredient'] %></li>
<% end %>

<h3>Instructions</h3>
<li><%= @recipe_instructions %></li>
