<h1><%= @recipe_name %></h1>

<h3>Description:</h3>
<li><%= @recipe_desription %></li>

<h3>Ingredients:</h3>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient['ingredient'] %></li>
<% end %>

<h3>Instructions</h3>
<li><%= @recipe_instructions %></li>
